$white: rgb(255, 255, 255);
$accent-pink: rgb(249, 59, 131);
$accent-yellow: rgb(249, 194, 59);
$navy-light: rgb(0, 0, 149);
$navy-dark: rgb(38, 17, 127);
$navy-darkest: rgb(32, 12, 110);
$purple-light: rgb(179 167 227);
$gray-light: rgb(90 100 136);
$cyan-medium: rgb(235, 243, 254);
$cyan-dark: rgb(216, 232, 254);
$blue-light: rgb(59, 142, 249);
