@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Montserrat__bold";
  src: url("../../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans-VariableFont_wdth,wght.ttf");
}
@font-face {
  font-family: "Open Sans__light";
  src: url("../../fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: "Open Sans__extra-bold";
  src: url("../../fonts/OpenSans-ExtraBold.ttf");
}
