$desktop-prose-small: calc(10px + 0.25vw);
$desktop-prose-medium: calc(12px + 0.25vw);
$desktop-heading-small: calc(2px + 2vw);
$desktop-heading-medium: calc(2px + 2.5vw);
$desktop-heading-large: calc(25px + 2vw);
$mobile-prose-small: calc(10px + 0.25vw);
$mobile-prose-medium: calc(12px + 0.25vw);
$mobile-heading-medium: calc(2px + 4vw);
$mobile-heading-large: calc(25px + 0.25vw);
